/node_modules/
/public/js
/public/build
/resources/public/out

/target
/checkouts
/src/gen


pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.clerk

.hgignore
.hg/
.cpcache
.calva/
.clj-kondo/
.lsp/